$montserratFontFanily: "Montserrat", serif;
$syneFontFanily: "Syne", serif;
$poppinsFontFanily: "Poppins", serif;

$fontSmall: 300;
$fontRegular: 400;
$fontBold: 700;
$fontSemiBold: 600;
$fontMedium: 500;

$titleFontSize: 50px;

$logoColor: #3FC3D7;

